In [ ]:
my_var = 35

In [2]:
my_var + 12

47

In [3]:
def give_name():
    my_var + 24
    print("Kristin")

# give_name()

In [4]:
def return_name():
    return "Kristin"

name = return_name()

In [5]:
name

'Kristin'

In [7]:
for i in [1, 2, 3,]:
    print (i)

1
2
3

In [8]:
[print(i) for i in [1,2, 3]]

1
2
3

[None, None, None]

![alt](IMG_6897.jpeg)

In [2]:
import pandas as pd

In [7]:
data_dict = {'a': [1,2,3], 'b':[4,5,6]}
data_list = [{'a':1, 'b':4}, {'a': 2, 'b': 5}, {'a':3, 'b':6}]

dat = pd.DataFrame(data_dict)
dat

   a  b
0  1  4
1  2  5
2  3  6

In [8]:
dat2 = pd.DataFrame (data_list)
dat2

   a  b
0  1  4
1  2  5
2  3  6

In [5]:
dat.head(1)

   a  b
0  1  4

In [9]:
dat.tail(1)

   a  b
2  3  6

In [10]:
dat['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [11]:
dat.loc[0]

a    1
b    4
Name: 0, dtype: int64

In [12]:
dat.iloc[0]

a    1
b    4
Name: 0, dtype: int64

In [14]:
dat.index

RangeIndex(start=0, stop=3, step=1)

In [15]:
len(dat.index)

3

In [16]:
len(dat.columns)

2

In [17]:
dat[['a', 'b']]

   a  b
0  1  4
1  2  5
2  3  6

In [18]:
dat[dat['a'] >2]

   a  b
2  3  6

In [19]:
dat[dat['a'] >2]['a']

2    3
Name: a, dtype: int64

In [ ]:
dat.write_csv()

AttributeError: 'DataFrame' object has no attribute 'write_scv'

In [1]:
dat.write_csv()

NameError: name 'dat' is not defined

What does the "write/render/evaluate" loop provide for creators of interactive data visualizations? 
    According to Murray, it provides for rapid experimentation and is critical to the iterative process.
Why are dynamic, interactive data visualizations useful when communicating data?
    They allow users to drill down on data they find interesting and explore it for themselves.
Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree.
    I neither agree nor disagree with this statement because I don't feel well enough informed yet at this point. I have used Tableu and PowerBI but only a little bit so I don't know if these are neccessarily "better" or "worse" than open-source tools. I do believe that if proprietary software tools are good enough for the visualizations that are needed in businesses that can afford the expense of the software license, then it probably makes sense. It's likely easier to onboard new employees and support them in terms of training. It's possible that I have this backwards too, that the open-source tools are easier more broadly known. I'm not sure but I hope to learn more about it.